VITE_SUPABASE_URL=https://jrcqvvnejckfnrjdvaer.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpyY3F2dm5lamNrZm5yamR2YWVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4Mzg5MDgsImV4cCI6MjA5MzQxNDkwOH0.n1ydT3BEze9c_kVMgKt8lmkTWaBymxLTlwhxPEU5v8s
